:root {
  --panel-background-color: #cccc99;
  --panel-border-color: #996666;
  --primary-color: #663300;
  --scrolly-background-color: #8b4513;
  --shadow: #cccccc;
  --image-wrap-border: #bdb76b;
  --related-color: #999999;
  --calLink-background: #eee8cc;
  --spotlight-wrap-background: #f2f2e6;
}

 var(--related-color)
