
/* =========================================== */
.nav-left {
   z-index:200;
   position:fixed;
   left:0;
   top:0;
   height:100%;
   width:100%;
   max-width:258px;
   margin-left:-250px;
   background-color: var(--panel-background-color);
   box-sizing:border-box;
   padding:10px;
   color:  var(--primary-color);
   font-weight:bold;
   border-right:1px solid  var(--panel-border-color);
   transition:margin 200ms ease-in-out;
}
.nav-left.nav-left-open {
   margin-left:0;
}
.nav-left-toggle {
   position:absolute;
   right:-40px;
   top:20px;
   width:40px;
   height:40px;
   background-image:url(../tabitha/gfx/icons/panel-left-menu.png);
   background-color: var(--panel-background-color);
   line-height:40px;
   text-decoration:none;
   text-align:center;
   border-top:1px solid  var(--panel-border-color);
   border-right:1px solid  var(--panel-border-color);
   border-bottom:1px solid  var(--panel-border-color);
   border-top-right-radius:6px;
   border-bottom-right-radius:6px;
}
.nav-left-toggle:before {
   //
}
.nav-left.nav-left-open .nav-left-toggle:before {
   //
}
a.nav-left-toggle:hover {
   background-image:url(../tabitha/gfx/icons/panel-left-menu-hover.png);
}
/* =========================================== */
/*
Scrolly tab positioning...
left-top...
   right:-41px;
   bottom:146px;
   border-top-right-radius:6px;
   border-bottom-right-radius:6px;
left-bottom...
   right:-41px;
   bottom:96px;
   border-top-right-radius:6px;
   border-bottom-right-radius:6px;
right-top...
   right:258px;
   bottom:146px;
   border-top-left-radius:6px;
   border-bottom-left-radius:6px;
right-bottom...
   right:258px;
   bottom:96px;
   border-top-left-radius:6px;
   border-bottom-left-radius:6px;
*/
.scrolly-down {
   position:absolute;
   right:258px;
   bottom:146px;
   border-top-left-radius:6px;
   border-bottom-left-radius:6px;
   width:40px;
   height:40px;
   background-color:  var(--scrolly-background-color);
   background-image:url(../tabitha/gfx/icons/scrolly-down-next.png);
   opacity:0.7;
}
.scrolly-bottom {
   position:absolute;
   right:258px;
   bottom:96px;
   border-top-left-radius:6px;
   border-bottom-left-radius:6px;
   width:40px;
   height:40px;
   background-image:url(../tabitha/gfx/icons/scrolly-down-bottom.png);
   background-color:  var(--scrolly-background-color);
   opacity:0.7;
}
.scrolly-down:hover {
   opacity:1.0;
}
.scrolly-bottom:hover {
   opacity:1.0;
}
.scrolly-top {
   position:absolute;
   right:-41px;
   bottom:146px;
   border-top-right-radius:6px;
   border-bottom-right-radius:6px;
   width:40px;
   height:40px;
   background-image:url(../tabitha/gfx/icons/scrolly-up-top.png);
   background-color:  var(--scrolly-background-color);
   opacity:0.7;
}
.scrolly-up {
   position:absolute;
   right:-41px;
   bottom:96px;
   border-top-right-radius:6px;
   border-bottom-right-radius:6px;
   width:40px;
   height:40px;
   background-image:url(../tabitha/gfx/icons/scrolly-up-next.png);
   background-color:  var(--scrolly-background-color);
   opacity:0.7;
}
.scrolly-top:hover {
   opacity:1.0;
}
.scrolly-up:hover {
   opacity:1.0;
}
/* =========================================== */
div#scrollyup-preload {
   display:none;
}
.lefty-up {
   position:relative;
   top:1px;
   width:40px;
   height:40px;
   margin:auto;
   background-color: var(--primary-color);
   background-image:url(../tabitha/gfx/icons/scrollyup.png);
   border-top:1px solid var(--primary-color);
   border-right:1px solid var(--primary-color);
   border-left:1px solid var(--primary-color);
   border-top-right-radius:6px;
   border-top-left-radius:6px;
}
.lefty-up:hover {
   background-image:url(../tabitha/gfx/icons/scrollyuphover.png);
}
.righty-up {
   position:relative;
   top:1px;
   width:40px;
   height:40px;
   margin:auto;
   background-color: var(--primary-color);
   background-image:url(../tabitha/gfx/icons/scrollyup.png);
   border-top:1px solid var(--primary-color);
   border-right:1px solid var(--primary-color);
   border-left:1px solid var(--primary-color);
   border-top-right-radius:6px;
   border-top-left-radius:6px;
}
.righty-up:hover {
   background-image:url(../tabitha/gfx/icons/scrollyuphover.png);
}
/* =========================================== */
.nav-right {
   z-index:100;
   position:fixed;
   top:0px;
   right:0;
   height:100%;
   width:100%;
   max-width:258px;
   margin-right:-251px;
   background-color: var(--panel-background-color);
   box-sizing:border-box;
   padding:10px;
   color:#ffffff;
   border-left:1px solid  var(--panel-border-color);
   transition:margin 200ms ease-in-out;
}
.nav-right.nav-right-open {
   margin-right:0;
}
.nav-right-toggle {
   position:absolute;
   left:-40px;
   top:20px;
   width:40px;
   height:40px;
   background-color: var(--panel-background-color);
   line-height:40px;
   text-decoration:none;
   text-align:center;
   border-top:1px solid  var(--panel-border-color);
   border-bottom:1px solid  var(--panel-border-color);
   border-left:1px solid  var(--panel-border-color);
   border-top-left-radius:6px;
   border-bottom-left-radius:6px;
}
.nav-right-toggle:before {
   font:1em "Helvetica", sans-serif;
   font-weight:600;
   color:#000000;
   position:relative;
   top:6px;
}
.nav-right.nav-right-open .nav-right-toggle:before {
   //
}
/* =========================================== */
