body {
/*
   font:1em "Tahoma", "Verdana", sans-serif;
   lineheight:.4;
   font-weight:400;
   background-color:#ffffff;
*/ 
   max-width: 1250px;
   font:1em "Tahoma", "Verdana", sans-serif;
   font-size:12pt;
   line-height:14.5pt;
   font-weight:500;
   margin: auto;
   overflow-y: ;
}
.wrapper {
   min-width:280px;
   max-width:640px;
   padding:0px 22px 0px 22px;
   background-color:#ffffff;
   margin-top:0;
}
/* images ============================================= */
img.full-width {
   margin:0;
   width:100%;
}
img.full-no-cutline {
   margin:12px 0px 12px 0px;
   width:100%;
}
img.full-width-cutline {
   margin:12px 0px 4px 0px;
   width:100%;
}
.image-wrap {
   padding-bottom:6px;
   margin-bottom:6px;
   border-bottom:1px solid var(--image-wrap-border);
   width:100%;
}
.image-wrap-float-right {
   float:right;
   width:60%;
   margin:0px 0px 2px 6px;
   padding-bottom:6px;
   margin-bottom:6px;
   border-bottom:1px solid var(--image-wrap-border);
   width:100%;
}
.cutline-centered {
   text-align:center;
   font-size:80%;
}
.cutline-left {
   text-align:left;
   font-size:80%;
}
/* ==================================================== */
div#spotoff-preload {
   display:none;
}
div#menu-preload {
   display:none;
}
/* ==================================================== */
.indent-dbd {
   margin:0px 12px 0px 12px;
}
.squeeze-l-r {
   margin:0px 8px 0px 0px;
}
.squeeze-l-r ul li b {
   color: var(--primary-color);
}
h2 {
   color: var(--primary-color);
   background-color: var(--panel-background-color);
   -moz-border-radius:8px;
   border-radius:8px;
   text-align:left;
   font-weight:bold;
   font-size:12pt;
   padding:4px 0 3px 22px;
   margin:14px 0 14px 0;
   letter-spacing:2px;
   -webkit-box-shadow:3px 3px 5px var(--shadow);
   -moz-box-shadow:3px 3px 5px var(--shadow);
}
.h2final {
   height:24px;
   color: var(--primary-color);
   background-color: var(--panel-background-color);
   -moz-border-radius:8px;
   border-radius:8px;
   text-align:center;
   font-weight:bold;
   font-size:10pt;
   padding:7px 0px 0px 0px;
   margin:14px 0 17px 0;
   letter-spacing:2px;
   -webkit-box-shadow:3px 3px 5px var(--shadow);
   -moz-box-shadow:3px 3px 5px var(--shadow);
}
div.date-last-updated {
   //height:25px;
   //vertical-align:middle;
   color: var(--primary-color);
   text-align:center;
   font-weight:normal;
   font-size:8pt;
   letter-spacing:0px;
   padding:0px 0px 0px 0px;
   margin:0px 0 14px 0;
}
h2.last-updated {
   height:25px;
   vertical-align:middle;
   color: var(--primary-color);
   background-color: var(--panel-background-color);
   -moz-border-radius:8px;
   border-radius:8px;
   text-align:center;
   font-weight:normal;
   font-size:8pt;
   letter-spacing:0px;
   padding:6px 0px 0px 0px;
   margin:14px 0 14px 0;
   -webkit-box-shadow:3px 3px 5px var(--shadow);
   -moz-box-shadow:3px 3px 5px var(--shadow);
}
.h2blank {
   margin-top:16px;
}
.h2blank2 {
   margin-top:16px;
   margin-bottom:16px;
}
.h2dark {
   height:24px;
   color:  var(--calLink-background);
   background-color: var(--scrolly-background-color);
   -moz-border-radius:8px;
   border-radius:8px;
   text-align:left;
   font-weight:bold;
   font-size:12pt;
   padding:6px 0 3px 22px;
   margin:0px 0px 8px 0px;
   letter-spacing:2px;
   -webkit-box-shadow:3px 3px 5px var(--shadow);
   -moz-box-shadow:3px 3px 5px var(--shadow);
}
.h2main {
   height:24px;
   color: var(--calLink-background);
   background-color: var(--scrolly-background-color);
   -moz-border-radius:8px;
   border-radius:8px;
   text-align:left;
   font-weight:bold;
   font-size:12pt;
   padding:6px 0 3px 22px;
   margin:0px 0px 0px 0px;
   letter-spacing:2px;
   -webkit-box-shadow:3px 3px 5px var(--shadow);
   -moz-box-shadow:3px 3px 5px var(--shadow);
}
.h2copyright {
   color: var(--calLink-background);
   background-color: var(--scrolly-background-color);
   -moz-border-radius:8px;
   border-radius:8px;
   text-align:center;
   font-weight:normal;
   font-size:8pt;
   padding:7px 0px 6px 0px;
   margin:18px 0px 6px 0px;
   -webkit-box-shadow:3px 3px 5px var(--shadow);
   -moz-box-shadow:3px 3px 5px var(--shadow);
}
.firstH2 {
   color: var(--primary-color);
   background-color: var(--panel-background-color);
   -moz-border-radius:8px;
   border-radius:8px;
   text-align:left;
   font-weight:bold;
   font-size:12pt;
   padding:4px 0 3px 22px;
   margin:6px 0 14px 0;
   letter-spacing:2px;
   -webkit-box-shadow:3px 3px 5px var(--shadow);
   -moz-box-shadow:3px 3px 5px var(--shadow);
}
/* ul, subul, li ========================================= */
ul {
   /*list-style-position:inside;*/
   /*margin:0px 6px 8px -18px;*/
   list-style-position:outside;
   margin:0px 6px 8px 0px;
   list-style-image:url('../gfx/flechita.png');
}
ul.dbd {
   list-style-position:outside;
   margin:0px 20px 8px 0px;
   list-style-image:url('../tabitha/gfx/flechita.png');
}
ul.dbd li b {
   color: var(--scrolly-background-color);
}
ul.ulB {
   margin-top:-8px;
   margin-right:22px;
}
ul.ulB li b {
   color: var(--scrolly-background-color);
}
.subul {
   /*margin:8px 6px 8px -22px;*/
   margin:4px 6px 4px -22px;
}
.subul2 {
   /*margin:8px 6px 8px -28px;*/
   margin:4px 6px 4px -28px;
}
.subul3 {
   /*margin:8px 0px 8px -22px;*/
   margin:4px 0px 4px -22px;
}
li {
   /*margin-bottom:8px;*/
   margin-bottom:4px;
}
li.sli {
   list-style-image:url('../gfx/magnify.png');
}
li.rli {
   list-style-image:url('../gfx/flechita.png');
}
li.dli {
   list-style-image:url('../gfx/flechitalt.png');
}
li.cli {
   list-style-image:url('../gfx/flechita-red.png');
   color:#ffd700;
   background-color: var(--scrolly-background-color);
   padding-left:12px;
   -moz-border-radius:6px;
   border-radius:6px;
}
/* related dates ====================================== */
ul#related {
   background-color: var(--spotlight-wrap-background);
   margin:0px 0px 0px 18px;
   padding-top:8px;
   padding-bottom:8px;
   border-bottom:1px solid var(--image-wrap-border);
   border-left:1px solid var(--image-wrap-border);
   -moz-border-radius-bottomleft:16px;
   border-bottom-left-radius:16px;
}
#related li#rlink {
   font-size:10pt;
   list-style-position:outside;
   list-style-image:url('../gfx/flechita.png');
   margin-left:-8px;
}
#related li#nolink {
   font-size:10pt;
   list-style-position:outside;
   list-style-image:url('../gfx/flechitalt.png');
   margin-left:-8px;
}
#related li#rlinkp {
   font-size:10pt;
   list-style-position:outside;
   list-style-image:url('../gfx/flechita.png');
	padding-bottom:4px;
   margin-left:-8px;
}
#related li#rlinkb {
   font-size:10pt;
   list-style-position:outside;
   list-style-image:url('../gfx/flechita.png');
   color: var(--related-color);
   margin-left:-8px;
}
#related li#slink {
   font-size:10pt;
   list-style-position:outside;
   list-style-image:url('../gfx/spotlight.png');
   margin-left:-8px;
}
#related li#slinkb {
   font-size:10pt;
   list-style-position:outside;
   list-style-image:url('../gfx/spotlight.png');
   color: var(--related-color);
   margin-left:-8px;
}
#related li#slinkb b {
   color: var(--related-color);
}
.relatedDates {
   padding-right:3px;
   padding-bottom:8px;
}
p.relatedULp {
   font-size:10pt;
   font-weight:bold;
   color: var(--scrolly-background-color);
   letter-spacing:1px;
   margin-top:0px;
   margin-bottom:0px;
   padding:6px 4px 6px 0px;
}
.storeItems {
   padding-bottom:8px;
}
.alignDates {
   display:inline-block;
   font-family:monospace;
   font-size:10.5pt;
   line-height:10pt;
   letter-spacing:-1px;
   text-decoration:none;
   border-bottom:1px solid var(--image-wrap-border);
}
.alignDatesNoLink {
   display:inline-block;
   font-family:monospace;
   font-size:10.5pt;
   letter-spacing:-1px;
   font-weight:bold;
   text-decoration:none;
}
.plus-minus {
   display:inline-block;
   width:10px;
   text-align:center;
}
/* menus ============================================== */
.menu-left-header {
   width:205px;
   background-color: var(--primary-color);
   margin:0 0 12px 0;
   padding:7px 0px 5px 21px;
   -moz-border-radius-topleft:8px;
   -moz-border-radius-topright:8px;
   border-top-left-radius:8px;
   border-top-right-radius:8px;
}
.menu-left-header span {
   color:  var(--calLink-background);
   font-size:8pt;
   font-weight:normal;
   letter-spacing:2px;
   padding-left:9px;
   position:relative;
   top:-3px;
}
.menu-left-middle {
   width:214px;
   height:32px;
   background-color: var(--primary-color);
   margin:6px 0px 12px 0px;
   padding:3px 0 3px 0;
}
.menu-left-ads {
   margin:10px 12px 9px 12px;
   width:190px;
   text-align:left;
}
.lefty {
   display:block;
   height:100%;
   overflow-x:hidden;
   overflow-y:auto;
}
.lefty::-webkit-scrollbar {
   width:10px;
}
.lefty::-webkit-scrollbar-track {
   -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
   -webkit-border-radius:10px;
   border-radius:10px;
}
.lefty::-webkit-scrollbar-thumb {
   -webkit-border-radius:10px;
   border-radius:10px;
   /* 8b4513... */
   /*background:rgba(139,69,19,0.8);*/
   /* bdb76b3... */
   background:rgba(189, 183, 107, 0.8);
   -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
.lefty::-webkit-scrollbar-thumb:inactive {
   background:rgba(189, 183, 107, 0.8);
}

.righty {
   display:block;
   height:100%;
   overflow-x:hidden;
   overflow-y:auto;
   position: ;
}
.righty::-webkit-scrollbar {
   width:10px;
}
.righty::-webkit-scrollbar-track {
   -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
   -webkit-border-radius:10px;
   border-radius:10px;
}
.righty::-webkit-scrollbar-thumb {
   -webkit-border-radius:10px;
   border-radius:10px;
   /* 8b4513... */
   /*background:rgba(139,69,19,0.8);*/
   /* bdb76b3... */
   background:rgba(189, 183, 107, 0.8);
   -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
.righty:-webkit-scrollbar-thumb:inactive {
   background:rgba(189, 183, 107, 0.8);
}
.menu-left-bottom {
   width:214px;
   background-color: var(--primary-color);
   color:  var(--calLink-background);
   font-size:7pt;
   line-height:8pt;
   font-weight:normal;
   letter-spacing:2px;
   text-align:center;
   margin:0px 0px 6px 0px;
   padding:4px 0px 4px 0px;
   -moz-border-radius-bottomleft:8px;
   -moz-border-radius-bottomright:8px;
   border-bottom-left-radius:8px;
   border-bottom-right-radius:8px;
}
ul.menu {
   list-style-position:outside;
   list-style-image:url('../gfx/flechita.png');
   margin:0px 18px 8px -18px;
}
ul.menu-item-sub {
   list-style-position:outside;
   list-style-image:url('../gfx/flechita.png');
   margin:0px 0px 8px -24px;
}
li.menu-item-active {
   list-style-image:url('../gfx/flechita.png');
   color:#ffd700;
   background-color: var(--scrolly-background-color);
   padding-top:2px;
   padding-bottom:4px;
   padding-left:12px;
   -moz-border-radius:6px;
   border-radius:6px;
}
li.menu-item-link {
   list-style-image:url('../gfx/flechita.png');
   color: var(--primary-color);
   padding-top:2px;
   padding-bottom:4px;
}
/* li dropcaps ========================================= */
li.dropcap1 {
   list-style-image:url('../gfx/dropcaps/slaphappy1.png');
}
li.dropcap2 {
   list-style-image:url('../gfx/dropcaps/slaphappy2.png');
}
li.dropcap3 {
   list-style-image:url('../gfx/dropcaps/slaphappy3.png');
}
li.dropcap4 {
   list-style-image:url('../gfx/dropcaps/slaphappy4.png');
}
li.dropcap5 {
   list-style-image:url('../gfx/dropcaps/slaphappy5.png');
}
li.dropcap6 {
   list-style-image:url('../gfx/dropcaps/slaphappy6.png');
}
li.dropcap7 {
   list-style-image:url('../gfx/dropcaps/slaphappy7.png');
}
li.dropcap8 {
   list-style-image:url('../gfx/dropcaps/slaphappy8.png');
}
li.dropcap9 {
   list-style-image:url('../gfx/dropcaps/slaphappy9.png');
}
/* p ========================================= */
p {
   margin-bottom:8px;
}
/* anchor tags ========================================= */
a:link {
   text-decoration:none;
   font-weight:bold;
   color: var(--primary-color);
}
a:visited {
   text-decoration:none;
   font-weight:bold;
   color: var(--primary-color);
}
a:hover {
   text-decoration:none;
   font-weight:bold;
   color:#da2443;
}
//
a.cal:link {
   text-decoration:none;
   font-weight:bold;
   color: var(--primary-color);
}
a.cal:visited {
   text-decoration:none;
   font-weight:bold;
   color: var(--primary-color);
}
a.cal:hover {
   text-decoration:none;
   font-weight:bold;
   color: var(--primary-color);
}
//
a.menu-link-smaller {
   font-size:11pt;
}
a.menu-link-smaller:hover {
   cursor:pointer;
}
a.dlink:link {
   text-decoration:underline;
}
a.rlink:link {
   text-decoration:underline;
   font-size:8pt;
   letter-spacing:1px;
}
a.slink:link {
   text-decoration:underline;
}
/* calendar ============================================ */
.cal-curr-aside {
   padding:0;
}
.cal-accord-aside {
   padding:0;
}
td.calLink {
   width:16px;
   height:16px;
   margin:0;
   padding:3px;
   text-align:center;
   font-size:12pt;
   font-weight:bold;
   color: var(--primary-color);
   background-color:  var(--calLink-background);
   border-top:1px solid var(--scrolly-background-color);
   border-left:1px solid var(--scrolly-background-color);
}
.calLink:hover {
   cursor:pointer;
   background-color: var(--image-wrap-border);
}
.calLinkEnd {
   width:16px;
   height:16px;
   margin:0;
   padding:3px;
   text-align:center;
   font-size:12pt;
   font-weight:bold;
   color: var(--primary-color);
   background-color:  var(--calLink-background);
   border-top:1px solid var(--scrolly-background-color);
   border-right:1px solid var(--scrolly-background-color);
   border-left:1px solid var(--scrolly-background-color);
}
.calLinkEnd:hover {
   cursor:pointer;
   background-color: var(--image-wrap-border);
}
.calBlank {
   width:16px;
   height:16px;
   margin:0;
   padding:3px;
   text-align:center;
   background-color:  var(--calLink-background);
   border-top:1px solid var(--scrolly-background-color);
   border-left:1px solid var(--scrolly-background-color);
}
.calBlankEnd {
   width:16px;
   height:16px;
   margin:0;
   padding:3px;
   text-align:center;
   background-color: var(--calLink-background);
   border-top:1px solid var(--scrolly-background-color);
   border-right:1px solid var(--scrolly-background-color);
   border-left:1px solid var(--scrolly-background-color);
}
.calLinkActive {
   background-color: var(--scrolly-background-color);
   font-size:12pt;
   font-weight:bold;
   color:  var(--calLink-background);
   text-align:center;
}
.calHead {
   background-color: var(--image-wrap-border);
   background-image:url(../gfx/cal/calHeadBG.png);
   background-repeat:repeat-x;
   color: var(--scrolly-background-color);
   border-top:1px solid var(--scrolly-background-color);
   border-right:1px solid var(--scrolly-background-color);
   border-left:1px solid var(--scrolly-background-color);
   text-align:center;
   font-weight:bold;
   letter-spacing:2px;
   padding:3px 0px 3px 0px;
   -moz-border-radius-topleft:8px;
   -moz-border-radius-topright:8px;
   border-top-left-radius:8px;
   border-top-right-radius:8px;
}
.calHead2 {
   background-color: var(--scrolly-background-color);
   color:  var(--calLink-background);
   text-align:center;
   font-weight:bold;
   letter-spacing:2px;
   padding:3px 0px 3px 0px;
}
/* spotlight ========================================= */
.sli.spotOn {
   list-style-image:url('../gfx/magnify.png');
   color:#da2443;
	cursor:pointer;
}
.sli.spotOff {
   list-style-image:url('../gfx/magnify.png');
   color: var(--primary-color);
}
.spotlight-nail {
	cursor:pointer;
   -webkit-box-shadow:3px 3px 5px var(--related-color);
   -moz-box-shadow:3px 3px 5px var(--related-color);
}
.float-arrow {
   float:left;
   position:relative;
   left:-18px;
}
li.no-arrow {
   list-style-type:none;
}
.closeButton {
   text-align:center;
   margin:0 0 4px 0;
}
img.spotlight-mag {
	margin-right:8px;
}
.spotlight-mag-text {
   font-size:10pt;
   font-weight:bold;
   color: var(--scrolly-background-color);
   letter-spacing:1px;
   margin:6px 0px 9px 0px;
}
img.spotlight-img {
   width:100%;
   //border:1px solid var(--shadow);
}
.spotlight-item-a {
   margin-top:-6px;
   padding:8px 0px 8px 8px;
   border-bottom:1px solid var(--image-wrap-border);
   border-left:1px solid var(--image-wrap-border);
   -moz-border-radius-bottomleft:16px;
   border-bottom-left-radius:16px;
   -moz-border-radius-topleft:16px;
   border-top-left-radius:16px;
}
.spotlight-item-b {
   margin-top:-2px;
   padding:8px 0px 8px 8px;
   border-bottom:1px solid var(--image-wrap-border);
   border-left:1px solid var(--image-wrap-border);
   -moz-border-radius-bottomleft:16px;
   border-bottom-left-radius:16px;
   -moz-border-radius-topleft:16px;
   border-top-left-radius:16px;
}
.spotlights-wrap {
   background-color: var(--spotlight-wrap-background);
   min-height:85px;
   vertical-align:bottom;
   border-left:1px solid var(--image-wrap-border);
   border-bottom:1px solid var(--image-wrap-border);
   padding-top:12px;
   padding-left:10px;
   padding-bottom:6px;
   margin-right:8px;
   -moz-border-radius-bottomleft:16px;
   border-bottom-left-radius:16px;
}
.spots {
   margin:0px 0px 0px -22px;
   list-style-position:outside;
}
div.spotlight-div {
   //background-color:#efefef;
}
div.spotlight-img-cutline {
   font-size:11pt;
   font-weight:600;
   margin:0px 0px 4px 18px;
   padding:6px 0px 4px 12px;
   border-bottom:1px solid var(--image-wrap-border);
   border-left:1px solid var(--image-wrap-border);
   -moz-border-radius-bottomleft:16px;
   border-bottom-left-radius:16px;
   position:relative;
   top:-3px;
}
div.spotlight-img-cutline-p {
   font-size:11pt;
   font-weight:normal;
   margin:4px 0 4px 0;
}
div.spotlight-img-cutline-fine {
   width:100%;
   font-size:8pt;
   font-weight:normal;
   margin:4px 0px 4px 0px;
}
.spotlightClose {
	-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color:#f6b33d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eda933;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:10pt;
   letter-spacing:2px;
	font-weight:bold;
	padding:2px 10px;
	text-decoration:none;
   //text-shadow:1px 1px 0px #cd8a15;
	text-shadow:-1px -1px 0px var(--primary-color);
	margin-top:6px;
}
.spotlightClose:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
	background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
	background-color:#d29105;
	text-shadow:1px 1px 0px var(--primary-color);
}
.spotlightClose:active {
	position:relative;
	top:1px;
}
.spotOffButton {
   background-image:url(../gfx/icons/closeSpotlight.png);
   background-repeat:no-repeat;
   background-position:4px;
   padding:4px 6px 4px 22px;
   font-weight:bold;
   color: var(--primary-color);
   border:1px solid var(--image-wrap-border);
   -moz-border-radius:6px;
   border-radius:6px;
   -webkit-box-shadow:2px 2px 4px var(--shadow);
   -moz-box-shadow:2px 2px 4px var(--shadow);
}
.spotOffButton:hover {
   background-image:url(../gfx/icons/closeSpotlight2.png);
   border:1px solid var(--scrolly-background-color);
}
.adButtonWrap {
   text-align:center;
   margin-right:21px;
}
.adButton {
   background-image:url(../gfx/icons/more2.png);
   background-repeat:no-repeat;
   background-position:4px;
   margin:6px 0px 0px 0px;
   padding:4px 6px 4px 22px;
   font-size:8pt;
   font-weight:bold;
   color: var(--primary-color);
   border:1px solid var(--image-wrap-border);
   -moz-border-radius:6px;
   border-radius:6px;
   -webkit-box-shadow:2px 2px 4px var(--shadow);
   -moz-box-shadow:2px 2px 4px var(--shadow);
}
.adButton:hover {
   //background-image:url(../gfx/icons/more1.png);
   border:1px solid var(--scrolly-background-color);
   color:#da2443;
}
/* mary-payson ===================================== */
.squeeze-footer {
   //margin:0 auto;
   text-align: center;
   /*margin:10px 16px 0px 16px;*/
}
.grid-wrap {
   //width:100%;
   margin:0 auto;
   text-align:center;
   //padding:10px 21px 0px 21px;
  background-color:#ffd700;
}
.grid {
  /* //margin:0 auto;
   //text-align:center;*/
}
.grid-left {
   float: left;
   margin-left: 12px;

}
.grid-center {
   float: left;
   width: 186px;
   margin: 0px 10px;
}
.grid-right {
   float: left;
   width: 186px;
   margin-left: 10px;
}
.grid-item {
   width:186px;
   margin-bottom:14px;
   padding: 0 5px; 
   text-align:;
}


.grid-item-inner {
   width:176px; 
   margin-bottom: 14px; 
   border:1px solid var(--panel-background-color); 
   background-color:var(--spotlight-wrap-background); 
   -moz-border-radius:6px; 
   border-radius:6px; 
   -webkit-box-shadow:3px 3px 5px var(--shadow); 
   -moz-box-shadow:3px 3px 5px var(--shadow);
   padding:5px 0px 15px 15px; 
   text-align: center;
   
}
.grid-item-inner .grid-store {
   font-size:9pt; 
   color:#999999; 
   margin:2px 0 4px 0;
    text-align:left;
}
.grid-item-inner .grid-head {
   width:146px; 
   font-size:9pt; 
   line-height:10pt; 
   font-weight:bold; 
   color:#444444; 
   margin:2px 0 2px 0;
   text-align:left;
}
.grid-head-desc {
   width:140px; 
   font-size:8pt; 
   line-height:10pt; 
   font-weight:bold; 
   color:#666666; 
   margin:2px 0 5px 6px;
    text-align:left;
}
.ad-type {
   width:146px; 
   font-size:9pt; 
   line-height:10pt; 
   font-weight:normal; 
   color:#777777; 
   margin:0 0 5px;
    text-align:left;
}
.desc {
   width:146px; 
   font-size:9pt; 
   line-height:11pt; 
   font-weight:normal; 
   color:#333333;
    text-align:left;
}
.grid-img {
   width:156px;
   height:auto;
   border:0;
   margin: 0;
   text-align: left;
   padding-bottom: 10px;
}
.grid-img img{
   width:156px;
   height:auto;
   border:0;
   margin: 0;
   text-align: left;
   padding-bottom: 10px;
}
.bottom-grid {
font-size:11pt; 
text-align:left; 
padding:0px 12px 2px 12px; 
margin:12px 12px 8px 21px; 
background-color:#eee8cc; 
border:1px solid #cccc99; 
-moz-border-radius:8px; 
border-radius:8px; 
-webkit-box-shadow:3px 3px 5px #cccccc; 
-moz-box-shadow:3px 3px 5px #cccccc; 
clear:both;
}
#background {
width:176px; 
height:327px; 
background:url('../gfx/CollingsFoundation.png'); 
background-repeat:no-repeat; 
margin-top:5px;
}
.not-grid-item {
   text-align:center;
   width:186px;
   margin-bottom:14px;
}
.grid-item-width2 {
   text-align:left;
   width:372px;
   margin-bottom:14px;
}
.mary-payson-container {
   max-width:558px;
   padding:0;
   margin:0 auto;
}
.mary-payson-item {
   //
}
/* related ========================================= */
div.toggleRelated {
   cursor:pointer;
   width:118px;
   text-align:left;
   font-weight:normal;
   font-size:8pt;
   margin:0px 0px 0px 0px;
   padding:0px 0px 2px 6px;
   background-color: var(--spotlight-wrap-background);
   border:1px solid var(--image-wrap-border);
   -moz-border-radius:4px;
   border-radius:4px;
}
div.div-related {
   border-left:1px solid var(--image-wrap-border);
   border-bottom:1px solid var(--image-wrap-border);
   padding-top:0px;
   padding-left:12px;
   margin-right:8px;
   margin-left:10px;
   -moz-border-radius-bottomleft:16px;
   border-bottom-left-radius:16px;
}
div.hideR {
   cursor:pointer;
   width:118px;
   text-align:left;
   font-weight:normal;
   font-size:8pt;
   margin:0px 0px 7px 17px;
   padding:0px 0px 2px 6px;
   background-color: var(--spotlight-wrap-background);
   border:1px solid var(--image-wrap-border);
   -moz-border-radius:4px;
   border-radius:4px;
}
#select-day {
   display:none;
   }
.header-images img {
   width: 200px;
   height: 68px; 
   border-radius:20px;
}
#img1 {float:left;}
#img2 {margin:0 20px}
#img3 {float:right;}
/* ========================================= */


