@media screen and (min-width: 320px) {
   /* mobile... */
   .spotlight-img-wrap {
      width:100%;
   }
   .squeeze-footer {
      padding-left:23%;
      //background-color: var(--panel-background-color);
   }
}
@media screen and (min-width: 420px) {
   /* mobile... */
   .spotlight-img-wrap {
      width:100%;
   }
   .squeeze-footer {
      padding-left:14%;
      //background-color: var(--panel-background-color);
   }
}
@media screen and (min-width: 658px) {
   /* two columns.. */
   .spotlight-img-wrap {
      width:100%;
   }
   .squeeze-footer {
      padding-left:19%;
      //background-color: var(--scrolly-background-color);
   }
}

@media screen and (min-width: 704px) {
   /* tablets... */
   .spotlight-img-wrap {
      width:100%;
   }
   .squeeze-footer {
      padding-left:4%;
      //background-color:#fff700;
   }
}
@media screen and (min-width: 900px) {
   /* desktop...*/
   .spotlight-img-wrap {
      width:100%;
   }
   .squeeze-footer {
      padding-left:4%;
      //background-color:#ff4500;
   }
}

/*==============================================
Responsive Tablet       Responsive Mobile
================================================*/
@media screen and (max-width: 1200px) {
  body {
  max-width: 100vw;
  }
  .nav-left {
  margin-left: -258px;
  }
  .nav-right {
  margin-left: 100vw;
  }
  .nav-right.nav-right-open {
   right:0;
  }
  #select-day {
   display:block;
   }
   .h2main {
   height:auto;
   }
}

@media screen and (max-width: 950px) {
.grid-item {
   width:;
   }

.header-images img {
  
   display: none;
   }
}
