@media screen and (min-width: 320px) {
   /* mobile... */
   .spotlight-img-wrap {
      width:100%;
   }
   .squeeze-footer {
      padding-left:;
      //background-color: var(--panel-background-color);
   }
}
@media screen and (min-width: 420px) {
   /* mobile... */
   .spotlight-img-wrap {
      width:100%;
   }
   .squeeze-footer {
      padding-left:;
      //background-color: var(--panel-background-color);
   }
}
@media screen and (min-width: 658px) {
   /* two columns.. */
   .spotlight-img-wrap {
      width:100%;
   }
   .squeeze-footer {
      padding-left:;
      //background-color: var(--scrolly-background-color);
   }
}

@media screen and (min-width: 704px) {
   /* tablets... */
   .spotlight-img-wrap {
      width:100%;
   }
   .squeeze-footer {
      padding-left:;
      //background-color:#fff700;
   }
}
@media screen and (min-width: 900px) {
   /* desktop...*/
   .spotlight-img-wrap {
      width:100%;
   }
   .squeeze-footer {
      padding-left:;
      //background-color:#ff4500;
   }
}

/*==============================================
Responsive Tablet       Responsive Mobile
================================================*/
@media screen and (max-width: 1200px) {
  body {
  max-width: 100vw;
  }
  .nav-left {
  margin-left: -253px;
  }
  .nav-right {
  margin-left: calc(100vw - 5px);
  }
  .nav-right.nav-right-open {
   margin-left: calc(100vw - 258px);
  }
  #select-day {
   display:block;
   }
   .h2main {
   height:auto;
   }
}

@media screen and (max-width: 700px) {
.grid-item {
   width:;
   }
.nav-right-toggle {
  top: 65px;
}
.header-images img {
   display: none;
   }
.squeeze-footer, .grid-wrap {
   width: 85vw;
   margin:0 auto;
   padding: 0;
   text-align: center;
   }
 .grid-item, .grid-item-inner { 
   float: none;
   width: 78vw;
   margin 0 auto;   
   }
   .grid-item-inner { 
      padding: 5px 10px 10px 10px;
  }
  #background {
   width: 78vw;
   background-size: 100%;
   height: 68vh;
  }
   .grid-left, .grid-right, .grid-center {
   margin-left: 0;
   padding: 0;
   }
  .grid-item-inner .grid-store, .grid-item-inner .grid-head, .grid-head-desc, 
   .ad-type, .desc, .grid-img, .grid-img img {
   width: 75vw;
   margin: auto;
   padding:0;
   }
}
